@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: optional;
  font-family: "Netflix Sans";
  font-weight: 400;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff)
      format("woff");
}

@font-face {
  font-display: optional;
  font-family: "Netflix Sans";
  font-weight: 500;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff)
      format("woff");
}

@font-face {
  font-display: optional;
  font-family: "Netflix Sans";
  font-weight: 700;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff)
      format("woff");
}

.hero-bg-singin {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.903) 20%,
      rgba(0, 0, 0, 0.5) 45%,
      rgba(0, 0, 0, 0.5) 85%,
      black 95%
    ),
    url("/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  position: relative;
  z-index: 1;
}

.main-wrapper {
  width: 88%;
  max-width: 1200px;
  margin-inline: auto;
}

.main-wrapper-absolute {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 88%;
  max-width: 1200px;
  z-index: 10;
}

.curve-wrapper {
  position: relative;
  overflow-x: hidden;
  height: 6.25rem;
  z-index: 2;
}

.curve {
  height: 100%;
  width: 200%;
  position: absolute;
  left: -50%;
  top: 0;
  background: radial-gradient(
      50% 500% at 50% -420%,
      rgba(64, 97, 231, 0.4) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    black;

  border-top: solid 0.25rem transparent;
  border-top-right-radius: 50% 100%;
  border-top-left-radius: 50% 100%;
  background-clip: padding-box;
}

.curve::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  z-index: -1;
  margin-top: -0.25rem;
  border-radius: inherit;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
}

.trending-wrapper {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.trending-wrapper::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.ratingNumber {
  position: absolute;
  bottom: -1.5rem;
  left: -1rem;
  font-size: 5rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5rem rgba(0, 0, 0, 0.736);
  -webkit-text-stroke: 0.1rem rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1280px) {
  .ratingNumber {
    font-size: 7rem;
    left: -1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .ratingNumber {
    font-size: 6rem;
    left: -1.5rem;
  }
}

.topTen {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 0.6rem;
  font-size: 10px;
  background-color: red;
  padding: 4px;
  border-top-right-radius: 0.5rem;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 3% 90%);
  aspect-ratio: 8/9;
}

.test {
  border: 1px solid rgb(255, 0, 0);
  /* color: #414141; */
}
